{%extends 'base.html'%}

{%block content%}
<br>
<br>

<div class="container-md col col-md-7">
<form action="" method="POST">
	{% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">username</label>
    <input type="text" class="form-control" name="username">
    </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br>
<br>

{%endblock%}